DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_theatre
DB_USER=root
DB_PASSWORD=root

FLASK_SECRET_KEY=816d2d46969299239c4e9f73dd0e9abd2014cb27fd364f609432a1e6da93809e

MANAGER_USERNAME=manager
MANAGER_PASSWORD=manager
CASHIER_USERNAME=cashier
CASHIER_PASSWORD=cashier
